body{
    background:linear-gradient(300deg,rgb(105, 178, 250),white );
    text-align: center;
    margin:0;
    padding:0;
    border:none;
    background-size: 180% 180%;
    animation: gradient-animation 9s ease infinite;
}
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
section{
    background:white;
    margin:0;
    padding-right: 0;
}
#message{
    padding-bottom: 5%;
}
.container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:repeat(6, 800px);
    margin-top:250px;
    padding-top:50px;
    padding-left: 0;
    margin-left:0;
}
.container p{
    color:black;
    text-align:left;
    margin:0;
    padding-right:20px;
    font-size:18px;
    width:125%;
}

h1{
    color:white;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size:5rem;
    position:relative;
    top:150px;
}
h2{
    
    
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:3rem;
    margin-top: 0;
    color: rgb(105, 178, 250);
    text-align: left;
}
h3{
    color:rgb(105, 178, 250);
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:2rem;
    
    
    display:inline;
}
.blue-text{
    color: rgb(105, 178, 250);
    font-family:"Inter", sans-serif;
    font-size:1.5rem;
    font-weight:700;
}
.title-background{
    height:100px;
    background-color:white;
    width:100%;
    margin:0; 
}
.title-background>h1{
    color:rgb(105, 178, 250);
}
.about-page{
    background:linear-gradient(300deg, #F5F0CD,#FFCCE1);
    padding-bottom: 5%;
}
.about-page h1,.about-page p{
    color: #997C70;
    
}

img{
   
    width:75%;
    height:75%;
    border-radius:5%;
    animation: fade 5s ;
}
.expand:hover{
    width:80%;
    height:80%;
}

@keyframes fade{
    0%{opacity: 0;}
    100%{opacity:1;}
}

p{
    color:white;
    
    margin-top:175px;
    font-family: "Inter", sans-serif;
}

.fav-char{
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
    
    height:50%;
    width:50%;
    margin-top:200px;
} 
.char-title{
    position: relative;
    top:0;
    margin:0;
}

.title-background{
    position: absolute;
    top:0;
    margin:0;
}
footer{
    color:black;
    background: linear-gradient(300deg,rgb(105, 178, 250),white );
    margin-bottom:0;
    padding-top:30px;
    padding-bottom:30px;
    height:10px;

}
.profile-photo{
    border-radius:2.5%;
    height:30%;
    width:30%;
}

.description{
    font-family: "Inter", sans-serif;
    margin-left:25%;
    margin-right:25%;
    line-height:25px;
}
.ig-logo{
    display:inline-block;
    width:75px;
    height:50px;
    margin-top:300px;
    margin-right: 50px;
}
.linkedin-logo{
    display:inline-block;
    width:75px;
    height:50px;
    margin-top: 300px;
}
.gmail-logo{
    display:inline-block;
    width:75px;
    height:50px;
    margin-top: 300px;
    margin-left: 50px;
}

h1 img{
    display:inline-block;
    width:200px;
    height: 200px;
}
.navbar{
    
    background-color: white;
    height:10vh;
    position:relative;
}

.navbar svg{
    height:50px;
    width:50px;
    color:black;
    position:absolute;
    left:0;
    top:15%;
}
.navbar svg:hover{
    color: rgb(105, 178, 250);
}
.navbar-nav{
    display:flex;
    gap:2%;
    position:relative;
    left:30px;
    top:5px;
}
.navbar-about{
    background-color: #997C70;
}
.nav-link:visited{
    color: black;
}
.nav-link:hover{
    color:rgb(105, 178, 250);
}

.nav-link{
    text-decoration: none;
    color:black;
    top:15%;
    font-size: 20px;
    font-family: "Inter", sans-serif;
}


.sub-container{
    text-align:left;
}
.btn{
    margin-top:10%;
   
}
